// All the shared styles for the huetiful.  Not a lot of them are shared, hence
// why it's just one file

$white: #FFF;
@mixin shadow {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

@mixin standard-box {
  @include standard-borders
  background-color: $white;
  border-radius: 4px;
}

@mixin standard-borders {
  border: 1px solid #C1C8E8;
  border-right-color: #A2A8C2;
  border-bottom-color: #A2A8C2;
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.huetiful {
  z-index: 1000;
}

.context {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.target {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #FFF;
}
